@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    scroll-behavior: smooth;
}

.navigation {
    background: #111111;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    margin-right: 20px;
}

.rightmenu {
    padding-left: 0 80px;
}

.search-field {
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.banner {
    background-image: url(../images/Banner1.jpg);
    background-size: cover;
    background-position: right;
    height: 600px;
}

.bannertext {
    padding: 200px 130px;
    color: white;
}   

.textbanner {
    padding: 0 0 50px 0;
    font-size: 20px;
    font-weight: 500;
}

.button {
    background: #111111;
    color: white;
    padding: 15px 30px;
    font-weight: 600;
    transition: padding 0.3s;
}

.button:hover {
    padding: 20px 40px;
}

.buttonspace {
    width: 100%;
    margin: 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.content-title {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.box-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxitem {
    border-style: solid;
    width: 250px;
    margin: 5px;
    transition: transform 0.3s;
}

.boxitem:hover {
    transform: translateY(-5px);
}

.boxitem p{
    font-weight: 600;
}

.category-img {
    width: 80%;
}

.bannerimg {
    width: 70%;
}

.content2box {
    width: 30%;
}

.textcontent2 {
    padding: 25px 10px;
    font-size: 15px;
    font-weight: 500;
}

.boxitem img {
    width: 200px;
    padding: 10px 0;
}

.text-product {
    text-align: start;
    padding: 0 10px;
    color: black;
}

.aboutbox {
    background: url(../images/aboutus.jpeg);
    width: 100%;
    height: 600px;
    color: white;
}

footer {
    background: #111111;
    text-align: center;
    color: white;
}

.foot-icon {
    padding: 20px 0;
}

.copyright, .copyright p {
    padding: 0 10px;
    font-size: 13px;
}