@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.navigation {
    background: #111111;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    margin-right: 20px;
}

.rightmenu {
    padding-left: 0 80px;
}

.search-field {
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.big-box {
    justify-content: center;
    padding: 100px 200px;
}

.page-head {
    color: #363636;
    text-transform: uppercase;
    padding: 0 0 17px 0;
    margin-bottom: 30px;
    border-bottom: 2px solid #ebebeb;
    font-size: 16px;
    font-weight: 700;
}

.kolom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.box {
    width: 50%;
    height: 300px;
    padding: 15px;
    background: #f2f2f2;
}

.judulbox {
    font-weight: 600;
    text-transform: uppercase;
    color: #555454;
    font-size: 18px;
    padding: 0 0 15px;
    margin-bottom: 12px;
    border-bottom: 2px solid #ebebeb;
}

.isibox p, .form-box .form {
    margin-bottom: 15px;
    font-size: 14px;
}

.form input, .form a{
    display: block;
    width: 70%;
    color: #363636;
}

button {
    margin-top: 10px;
    display: block;
    border: 0;
    background: #333333;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
}

footer {
    background: #111111;
    text-align: center;
    color: white;
}

.foot-icon {
    padding: 20px 0;
}

.copyright, .copyright p {
    padding: 0 10px;
    font-size: 13px;
}