@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navigation {
    background: #111111;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    margin-right: 20px;
}

.rightmenu {
    padding-left: 0 80px;
}

.search-field {
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.content {
    padding: 90px 130px;
}

.judul {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
}

.promenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.promenu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 1px;
}

.promenu ul li {
    margin-right: 25px;
    padding: 0 10px;
}

.promenu ul li:hover {
    cursor: pointer;
}

.promenu ul ul {
    display: none;
    position: absolute;
}

.promenu ul li:hover > ul {
    display: block;
    background: white;
    border: 1px solid black;
}

.hr {
    margin-bottom: 30px;
}

.box-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.boxitem img {
    width: 200px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.boxitem {
    border: 0.5px solid;
    width: 250px;
    margin: 5px;
    transition: transform 0.3s;
}

.boxitem:hover {
    transform: translateY(-5px);
}

.boxitem p{
    font-weight: 600;
    color: black;
}

.text-product {
    text-align: start;
    padding: 0 10px;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.number {
    display: flex;
    justify-content: center;
}

.number span {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    transform: color 0.3s;
}

.number span:hover {
    background-color: black;
    color: white;
}

.link {
    color: black;
}

.page .promenu {
    padding: 0;
}

footer {
    background: #111111;
    text-align: center;
    color: white;
}

.foot-icon {
    padding: 20px 0;
}

.copyright, .copyright p {
    padding: 0 10px;
    font-size: 13px;
}